* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3.5rem;
}
.card {
  background-color: antiquewhite;
  width: 23%;
  text-align: center;
  padding: 0 50px;
}
