* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.header {
  background-color: rgb(254, 250, 255);
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
  position: sticky;
  top: 0;
  box-shadow: 0 0 20px 0 rgba(255, 27, 27, 0.3);
  border-bottom: 1px solid rgba(255, 99, 71, 0.145);
  z-index: 2;
}

.header a {
  text-decoration: none;
  color: tomato;
}
.header a:focus {
  text-decoration: none;
  color: tomato;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 45px;
  padding-right: 45px;
}

.card {
  width: 25%;
  text-align: center;
  padding: 1.5em;
  margin-bottom: 2em;
  background-color: white;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid rgba(255, 99, 71, 0.208);
}

.card:hover {
  box-shadow: 0 0 10px 0 rgba(255, 27, 27, 0.3);
  z-index: 1;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category,
.price {
  font-weight: bold;
  text-transform: capitalize;
  margin: 1em;
  font-size: 1.2rem;
}

.images {
  width: 80%;
  margin-bottom: 2em;
}

.description {
  font-size: 14px;
  color: rgb(138, 138, 138);
  padding-left: 10px;
  padding-right: 10px;
  width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  background-color: tomato;
  padding: 20px;
  color: white;
}
.footer-para {
  font-size: 18px;
  color: white;
  text-align: center;
}

/* Responsive for Mobile Screens */

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .header {
    display: none;
  }

  .container {
    margin-top: 2em;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card {
    width: 100%;
  }

  .title {
    text-align: center;
  }

  .category,
  .price {
    font-size: 1rem;
  }

  .images {
    width: 80%;
    margin-bottom: 2em;
  }

  .description {
    font-size: 14px;
    width: 400px;
    text-align: center;
  }

  .footer-para {
    font-size: 14px;
  }
}
